.shutdown-dialogue {
    border-radius: 12px;
    padding: 20px;
    text-align: center;
    min-width: 400px;
}

.dialog-content {
    padding: 10px;
    spacing: 10px;
}

.header-label {
    font-size: 1.2em;
    font-weight: 800;
    margin-bottom: 20px;
}

.option-item {
    padding: 12px;
    margin: 8px 10px;
    border-radius: 8px;
    border: 1px solid transparent;
    min-width: 190px;
}

.option-item-selected {
    background-color: rgba(255, 255, 255, 0.15);
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    font-weight: bold;
}